/** G2- Grid A.Grille basique **/

.grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    gap: 20px;

    /**
    display: grid;
    grid-template-columns: repeat(3,1fr)
    **/
}

.grid-container div{
    background-color: bisque;
    margin: 10px;

    
}

.gird-item{
   
}



