body {
    font-family: 'Roboto', sans-serif;
}

.grid-item {
    background: blue;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

/* Grille 2x2 */
.grid-container-2x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    padding: 20px;
}

/* Grille 3x3 */
.grid-container-3x3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    padding: 20px;
}


