/* Exo A */
* {
    margin: 0;
}

body {
    background-color: #F6F8FA;
}

.head{
    background-color: burlywood;
    padding: 30px;
    font-family: sans-serif;
    font-weight: 500;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

nav ul {  
    list-style: none;   
}

.logo {
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: #262626;
    list-style: none; 
}

.nav-links {
    display: flex;
    gap: 40px;
}

nav a:hover {
    color: goldenrod;
}

.menuBurger {
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

.menuBurger span {
    background-color: #262626;
    height: 3px;
    width: 25px;
  }

/* Responsive */
@media (max-width: 800px) {
    .nav-links {
        display: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .menuBurger {
        display: flex;
    }

    .nav-links {
        display: none; 
        position: absolute;
        top: 60px;
        right: 20px;
    }

    .nav-links.active {
        display: flex; 
      }

    .test {
        display: flex;
        justify-content: end;
    }
}

/* Exo B */

.gallery {
    border: 4px solid rgb(115, 114, 120);
    height: 90vh;
    max-width: 1200;
    border-radius: 10px;
    gap: 10px;
    background-color: rgb(214, 208, 208);
    display: flex;
    flex-direction: column;
}

.card {
    width: 250px;
    height: 337px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 4px solid goldenrod;
    border-radius: 15px;
    font-family: sans-serif;
    color: gray;
}

.block1 {
    display: flex;
    justify-content: space-between;
}

.block2 {
    display: flex;
    justify-content: space-between;  
}

button {
    background-color: goldenrod;
    border-radius: 10px;
    border: none;
    font-family: sans-serif;
    width: 100px;
    height: 30px;
}

.card:hover {
    background-color: goldenrod;
    opacity: 80%;
}

/* Exo C */
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    padding: 20px;
}

.form-group {
    gap: 30px;
    display: flex;
    font-family: sans-serif;
    
}