.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-basis: 50%;
}

@media(max-width:480px) {
  .nav-links {
    display: inline;
  }
}