.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 0 20px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links li {
    list-style-type: none; 
    padding: 0 50px;
}

section.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: space-between;
}

.card {
    width: 25%;
    /* padding: 30px; */
    background-color: #ac8383;
    border-radius: 50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    justify-items: center;
    padding: 10px;
}


@media (max-width: 800px) {
    .nav-links {
        flex-direction: column;
    }
}

