.navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    background-color: coral;
}
.logo{
    justify-self: center;
    align-self: center;
}
.nav-links{
    display: flex;
    list-style: none;
    }
li{
    float: left;
    margin-left: 2em;
    margin-right: 2em;
}
nav a{
    text-decoration: none;
    color:black
}
@media (max-width: 640px) {
    li{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-left: 2em;
}
