.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.grid-item{
    background-color: blue;
}

.blog-layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    }
    
    .header { grid-area: 1 / 1 / 2 / 6; }
    .sidebar { grid-area: 2 / 1 / 5 / 4; }
    .main-content { grid-area: 5 / 1 / 6 / 6; }
    .footer { grid-area: 2 / 4 / 5 / 6; }

    .header,.sidebar,.main-content,.footer{
        background-color: blue;
    }