header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 45px;
    justify-content: space-between;
}

.nav-links {
    justify-content: space-between;
    text-decoration: 0;
    color:black;
}

ul {
    list-style: none;
    display: flex;
}

ul, li {
    margin: 0 10px;
}

@media screen and (max-width: 1037px) {
    header {
        padding: 10px 20px;
    }
    ul {
        flex-direction: column;
        position: absolute;
    }
}