body {
    display: flex;
    flex-direction: column;

}

.navbar {
    align-items: center;
    justify-content: space-between;
    display: flex;

}

.logo {}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-links li {
    padding: 10px 50px;
}


/*** Galerie de cards ***/

.gallery {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    
}

.card {
margin: 40px;
width: 250px;
padding: 20px;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
box-shadow: 0 4px 6px grey;
border-radius: 3px;

}

.card button{
    padding: 4px;
    border: none;
    background-color: thistle;
    width: 120px;
    border-radius: 3px;
}

.card button:hover {
    background-color:blueviolet;
    color: white;
    cursor: pointer;
}

.card img{
    width: 250px;
    border-radius: 3px;
}


/*** Formulire aligner **/

.contact-form{
display: flex;
flex-direction: row;

justify-content: center;

}

.form-group{

display: flex;
justify-content: space-between;
margin: 20px 50px;
}

.form-group button{
background-color: thistle;
border-radius: 2px;
}

.form-group input{
    display: flex;
    flex-direction: row;
    
}


@media(max-width:770px) {

    .nav-links {
        display: block;
    }
    .contact-form{
        display: block;
        flex-direction: column;
    }
    .form-group{
        align-items: center;
    }
    

}